@mixin center {
  justify-content: center;
  align-items: center;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  @include center;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  @include center;
  flex-direction: column;
}

.photos {
  height: 50%;
  padding: 1rem;
  border: thin solid black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 1rem;
}

.photo {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.photo-uploads {
  border: thin solid blue;
}
