:root {
  --min-photo-size: 240px;
}

@tailwind base;

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('../fonts/Nunito-Light'),
    url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAnsSUYevI.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@tailwind components;

.frosted-glass {
  @apply backdrop-blur;
  background-color: rgba(255, 255, 255, 0.25);
}

.frosted-glass-dark {
  @apply backdrop-blur;
  background-color: rgba(0, 0, 0, 0.25);
}

.card {
  @apply flex flex-col items-center justify-center w-3/4 h-64 px-8 mx-auto mt-8 leading-loose tracking-wide text-center text-gray-900 border rounded-lg shadow-xl frosted-glass;
}

.link {
  @apply flex flex-col justify-center px-8 py-4 mx-1 text-gray-800 underline border rounded;
}

.btn {
  @apply flex px-8 py-4 rounded-full transition ease-in-out duration-200;
}

.btn-green {
  @apply bg-green-300 border-2 border-green-600;
}

.fixed-br {
  @apply fixed bottom-0 right-0 mb-2 mr-2;
}

.fixed-bl {
  @apply fixed bottom-0 left-0 mb-2 ml-2;
}

.flex-center {
  @apply items-center justify-center;
}

.photo-grid {
  @apply grid gap-2 grid-flow-row-dense;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-photo-size), 1fr));
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: ew-resize;
  @apply w-8 h-8 bg-gray-300 rounded-lg;
}

.fancy-bg {
  background: linear-gradient(
      135deg,
      theme('colors.gray.200') 21px,
      theme('colors.gray.100') 22px,
      theme('colors.gray.100') 24px,
      transparent 24px,
      transparent 67px,
      theme('colors.gray.100') 67px,
      theme('colors.gray.100') 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        theme('colors.gray.200') 21px,
        theme('colors.gray.100') 22px,
        theme('colors.gray.100') 24px,
        transparent 24px,
        transparent 67px,
        theme('colors.gray.100') 67px,
        theme('colors.gray.100') 69px,
        transparent 69px
      )
      0 64px;
  background-color: theme('colors.gray.200');
  background-size: 64px 128px;
}

@tailwind utilities;

html,
body,
#root {
  min-height: 100vh;
}
